* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
}

body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

input:focus {
    outline: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
